* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: Montserrat, monospace;
}

.header{
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.7);
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.menu-header{
    /*width: 25%;*/
    /*float: left;*/
    /*padding: 13px;*/
}

.user-header{
    /*float: left;*/
    /*width: 13%;*/
    display: flex;
}

.user{
    display: flex;
}

.name-header{
    /*bottom: 5px;*/
    /*height: 35px;*/
}

.btn-upload{

}

.image-header{
    height: 36px;
    border-radius: 24px;
    margin: 0 10px 10px 0;
}

.name-user{
    /*padding-right: 70px;*/
    margin: 2px 8px;
    height: 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.0125em;
}

.permisstion-user{
    margin: 5px 8px;
    font-size: 10px;
    line-height: 9px;
    color: #272727;
    opacity: 0.5;
    padding-left: 130px;
}

.title-header{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0125em;
    color: #3B4144;
    opacity: 0.5;
    margin-right: 40px;
}

.button-h{
    /*padding-top: 15px;*/
    /*width: 12%;*/
    /*float: left;*/
}

.image-div{
    /*width: 50%;*/
    /*float: left;*/
}

.button-header{
    float: left;
    padding: 6px 24px;
    color: aliceblue;
    width: 131px;
    height: 32px;
    left: 1460px;
    top: 21px;
    background: #D93C23;
    border-radius: 30px;
    border-style:none ;
}

.logo-header{
    /*margin-top: 10px;*/
    /*display: block;   */
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
    max-width: 100px;
}

.heart-image{
    margin:10px 30px 12px 0;
    max-width: 20px;
    float: left;
}

.dot-image{
    max-width: 20px;
    float: left;
    position: absolute;
    padding-top: 20px;
    padding-left: 10px;
}

.heading{
    /*position: absolute;*/
    margin-top: 30px;
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider{
    width: 80%;
    height: 24rem;
    margin: 0 auto;
}

.slide{
    display: flex;
    flex-direction: column;
    background-size:100% ;
    background-image: url("../images/heading.png");
    height: 107%;
    background-repeat: no-repeat;
}

.tieuDe{
    width: 350px;
    margin: 165px 250px 0 120px;
    top: 282px;
    font-size: 45px;
    font-weight: bold;
}
.noiDung{
    width: 350px;
    margin-left: 120px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}

@media (min-width: 561px) {
    .manu-bar{
        display: none;
    }
}

@media (max-width: 1024px) {
    .title-header{
        display: none;
    }
    .manu-bar{
        display: flex !important;
        width: 25%;
        float: left;
        padding: 13px;
    }
}

.content{
    margin: 50px auto;
    width: 65%;
    display: flex;
    flex-direction: row;
}

.color-green-dark{
    background-color: #007882;
}

.navbar-content{
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    margin: 0 30px;
    width: 120px;
    height: 40px;
}

@media (max-width: 1690px) {
    .name-header{
        display: none;
    }
}

@media (max-width: 1535px) {
    .heart-image , .dot-image{
        display: none;
    }
    .heading{
        margin-top: 30px;
        max-width: 1250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 880px) {
    .button-header{
        display: none;
    }
}

