* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: Montserrat, monospace;
    font-style: normal;
}

.header{
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.7);
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.menu-header{
    /*width: 25%;*/
    /*float: left;*/
    /*padding: 13px;*/
}

.user-header{
    /*float: left;*/
    /*width: 13%;*/
    display: flex;
}

.user{
    display: flex;
}

.name-header{
    /*bottom: 5px;*/
    /*height: 35px;*/
}

.btn-upload{

}

.image-header{
    height: 36px;
    border-radius: 24px;
    margin: 0 10px 10px 0;
}

.name-user{
    /*padding-right: 70px;*/
    margin: 2px 8px;
    height: 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.0125em;
}

.permisstion-user{
    margin: 5px 8px;
    font-size: 10px;
    line-height: 9px;
    color: #272727;
    opacity: 0.5;
    padding-left: 130px;
}

.title-header{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0125em;
    color: #3B4144;
    opacity: 0.5;
    margin-right: 40px;
}

.button-h{
    /*padding-top: 15px;*/
    /*width: 12%;*/
    /*float: left;*/
}

.image-div{
    /*width: 50%;*/
    /*float: left;*/
}

.button-header{
    float: left;
    padding: 6px 24px;
    color: aliceblue;
    width: 131px;
    height: 32px;
    left: 1460px;
    top: 21px;
    background: #D93C23;
    border-radius: 30px;
    border-style:none ;
}

.logo-header{
    /*margin-top: 10px;*/
    /*display: block;   */
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
    max-width: 100px;
}

.heart-image{
    margin:10px 30px 12px 0;
    max-width: 20px;
    float: left;
}

.dot-image{
    max-width: 20px;
    float: left;
    position: absolute;
    padding-top: 20px;
    padding-left: 10px;
}

.heading{
    /*position: absolute;*/
    margin-top: 30px;
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider{
    width: 80%;
    height: 24rem;
    margin: 0 auto;
}

.slide{
    display: flex;
    flex-direction: column;
    background-size:100% ;
    background-image: url("../images/heading.png");
    height: 107%;
    background-repeat: no-repeat;
}

.tieuDe{
    width: 350px;
    margin: 165px 250px 0 120px;
    top: 282px;
    font-size: 45px;
    font-weight: bold;
}
.noiDung{
    width: 350px;
    margin-left: 120px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}



@media (min-width: 561px) {
    .manu-bar{
        display: none;
    }
}

@media (max-width: 1024px) {
    .title-header{
        display: none;
    }
    .manu-bar{
        display: flex !important;
        width: 25%;
        float: left;
        padding: 13px;
    }
}

.content{
    margin: 50px auto;
    width: 65%;
    display: flex;
    flex-direction: row;
}

.color-green-dark{
    background-color: #007882;
}

.navbar-content{
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    margin: 0 30px;
    width: 120px;
    height: 40px;
    padding-top: 9px;
}

.navbar-content .color-green-dark{
    display: flex;
    vertical-align: middle;
}

.tintuc{
    margin: 0 auto;
    width: 65%;
    display: flex;
}

.tintuc-img{
    width: 45px;
    margin: 10px;
}

.tintuc-img-content{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.tintuc-content{
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
}

.content-tintuc{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.content-tintuc-l{
    width: 61%;
}

.content-tintuc-r{
    width: 35%;
}

.content-tintuc-l-img,.content-tintuc-r-img{
    width: 100%;
}

.content-tintuc-r-des,.content-tintuc-l-des,.content-video-list-content-des-information{
    display: flex;
    margin: 0 0 0 10px;
}

.content-tintuc-dot{
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background-color: black;
    margin: auto 12px;
}

.content-tintuc-content,.content-video-list-content-des-title{
    font-weight: 600;
    color: black;
    margin: 10px 0 0 10px;
}

.content-tintuc-des,.content-video-list-content-des-des,.content-video-list-content-des-information-date{
    font-weight: 400;
    opacity: 0.5;
    color: black;
    margin: auto auto auto 10px;
}

.content-video-list-content-des-des{
    font-weight: 400;
    opacity: 0.5;
    color: black;
    margin: 0 auto auto 10px;
}

.content-tintuc-name{
    font-weight: 400;
    color: black;
}

.content-tintuc-xahoi,.content-video-list-content-des-information-xahoi{
    color: #007882;
    font-weight: 600;
}

.content-video{
    width: 65%;
    margin: 40px auto;
}

.content-video-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.content-video-title-v,.content-video-list-title{
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.content-video-title-all{
    color: black;
}

.content-video-video{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-video-video-l{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content-video-video-r{
    width: 25%;
    overflow: auto;
    height: 510px;
}

.content-video-video-l-video{
    margin:0 auto;
}

.content-video-video-l-heart{
    height: 33.3%;
    margin: 0 0 0 auto;
    padding: 30px;
}

.content-video-video-l-des{
    width: 100%;
    height: 33.4%;
    background-image: url("../images/video/boderbox.png");
    background-size: 100%;
    border-radius: 30px;
}

.content-video-video-l-tron-div{
    height: 33.3%;
}

.content-video-video-l-heart-img{
    width: 25px;
}

.content-video-video-tamgiac{
    height: 485px;
    width: 72%;
    display: flex;
    background-size:100% ;
    background-image:url("../images/video/video1.png") ;
    background-repeat: no-repeat;
}

.content-video-video-l-tron{
    display: flex;
    width: 140px;
    height: 140px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/video/tron.png");
    margin: 0 auto;
    align-items: center;
}
.content-video-video-l-des-text{
    margin: 60px auto 0 20px;
}

.content-video-video-l-des-viewdate{
    margin: 0 auto 0 20px;
}

.content-video-video-r-video{
    width: 100%;
}

.content-video-video-r-des{
    display: flex;
}

.content-video-video-l-des-viewdate{
    display: flex;
}

.content-video-video-l-des-text{
    font-weight: 600;
    color: white;
    font-size: 20px;
}

.content-video-video-l-des-view{
    color: white;
}

.content-video-video-l-des-date{
    color: white;
    opacity: 0.5;
}

.content-video-video-r-content{
    color: black;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 21px;
}

.content-video-video-r-view{
    margin-left: 10px;
    font-weight: 500;
    color: black;
}

.content-video-video-r-date{
    color: black;
    opacity: 0.5;
}

.content-video-list{
    width: 100%;
    margin-top: 50px;
}

.content-video-list-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.content-video-list-content-img{
    width: 35%;
}

.content-video-list-content-des{
    display: flex;
    flex-direction: column;
    width: 62%;
}

.content-video-list-content-des-information{
    display: flex;
}

.content-video-list-content-des-title{
    font-size: 20px;
}

.content-video-list-xemthem{
    width: 100%;
    display: flex;
    height: 55px;
    margin-top: 60px;
}

.content-video-list-xemthem-a{
    padding-top: 15px;
    text-align: center;
    margin: 0 auto;
    color: black;
    border: 2px;
    font-weight: 600;
    width: 250px;
    font-size: 17px;
    border-style: solid;
    border-color: black;
    border-radius: 70px;
}

@media (max-width: 1690px) {
    .name-header{
        display: none;
    }
}

@media (max-width: 1535px) {
    .heart-image , .dot-image{
        display: none;
    }
    .heading{
        margin-top: 30px;
        max-width: 1250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 880px) {
    .button-header{
        display: none;
    }
}

